.units-button {
    color: var(--dark) !important;
    text-decoration: none;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 72px);
    grid-gap: 10px;
}

.unit {
    height: 66px;
    cursor: pointer;
    position: relative;
}

.unit[star="1"] {
    border: 3px #5d5d5d solid;
}
.unit[star="2"] {
    border: 3px #649501 solid;
}
.unit[star="3"] {
    border: 3px #3399ff solid;
}
.unit[star="4"] {
    border: 3px #c632c6 solid;
}
.unit[star="5"] {
    border: 3px #f73201 solid;
}
.unit[star="6"] {
    border: 3px #ff9900 solid;
}
.unit[star="7"] {
    border: 3px #f70195 solid;
}
.unit[star="8"] {
    border: 3px #87ffff solid;
}

.type.magical {
    background-image: url('/assets/magical-damage.png');
}
.type.physical {
    background-image: url('/assets/physical-damage.png');
}
.type {
    width: 24px;
    height: 24px;
    position: absolute;
    transform: scale(0.8);
    transform-origin: bottom right;
    right: 1px;
    bottom: 1px;
}

#unit-icons {
    float: right;
    position: relative;
    top: 20px;
    height: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.unit-icon {
    width: 24px;
    height: 24px;
    top: 20px;
    position: relative;
    display: inline-block;
    background-position: center;
    background-size: contain;
    margin-left: 3px;
}

.unit-icon-text {
    position: absolute;
    bottom: 0px;
    right: 2px;
    color: #c59723;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    user-select: none;
}

#unit h3 {
    color: #98b51b;
}

#unit p {
    margin: 0;
}

#battle p {
    text-indent: -15px;
    padding-left: 15px;
}

#special-ability p {
    text-indent: -15px;
    padding-left: 15px;
}

#unit-tribe-skill {
    color: #64abbc !important;
}

#unit-evolutions {
    grid-gap: 10px;
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 10px;
}

.unit-evolution {
    height: calc(72px - 6px);
    width: calc(72px - 6px);
}

@media only screen and (max-width: 700px) {
    #unit-evolutions {
        float: none;
    }
}

.unit-menu {
    text-align: center;
    grid-area: m;
    user-select: none;
}

.unit-menu-link {
    cursor: pointer;
    color: var(--accent);
}

.unit-menu-link:hover {
    filter: brightness(75%)
}

.unit-menu h4 {
    line-height: 0px;
}

#full-art {
    width: 320px;
    height: 320px;
    background: rgba(122, 122, 122, 0.3);
    border-radius: 0.5rem;
    margin-top: 50px;
    margin-left: calc((100% - 320px) / 2);
    margin-bottom: 50px;
    background-position: center;
    background-size: contain;
}

#unit-pet {
    width: 72px;
    height: 72px;
    background-color: var(--light);
}

#unit-back {
    text-decoration: none;
    position: relative;
    padding: 10px;
}

#unit-back:hover {
    filter: brightness(75%)
}

#unit-name {
    display: inline-block;
    margin-bottom: 0;
}

#unit-stars {
    display: inline-block;
    padding-left: 15px;
    height: 30px;
    margin-bottom: 20px;

}

#unit-stars img {
    display: relative;
    margin-left: -8px;
}

.trans-material-list {
    grid-gap: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}